<nav class="top-menu">
  <!-- link to entreprise proposition -->
  <section class="top-menu-item">
    <a href="#show-entreprise-intro"><%= image_tag('icon_menu_value-proposition.svg') %></a>
    <a href="#show-entreprise-intro"><%= t('entreprises.top-menu.objective') %></a>
  </section>
  <!-- link to entreprise presentation -->
  <section class="top-menu-item">
    <a href="#show-entreprise-content"><%= image_tag('icon_menu_presentation.svg') %></a>
    <a href="#show-entreprise-content"><%= t('entreprises.top-menu.presentation') %></a>
  </section>
  <!-- link to share entreprise -->
  <section class="top-menu-item">
    <a href="#show-entreprise-share"><%= image_tag('icon_menu_share.svg') %></a>
    <a href="#show-entreprise-share"><%= t('entreprises.top-menu.share') %></a>
  </section>
  <!-- link to entreprise factsheet -->
  <section class="top-menu-item">
    <a href="#show-entreprise-facsheet"><%= image_tag('icon_menu_info.svg') %></a>
    <a href="#show-entreprise-facsheet"><%= t('entreprises.factsheet') %></a>
  </section>
</nav>
