<!-- add spacer for navbar -->
<div class="navbar-banner-spacer"></div>

<!-- define variable for positive impact photo -->
<% @impact = 'img_positiveimpact.jpg' %>

<!-- create banner for the positive impact project -->
<figure class="banner" style="background-image: url('<%= image_path @impact %>')">
  <div class="container-main">
    <!-- positive impac title -->
    <section class="banner-title">
      Définissons un "Positive Impact Project" !
    </section>
    <!-- positive impact caption -->
    <section class="banner-caption">
      Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat. Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat
      <%= link_to "-> Lire", positiveimpact_path %>
    </section>
    <!-- positive impact link to landing page -->
    <button class="button-banner">
      <a href="http://www.google.com" target="_blank">En savoir plus</a>
    </button>
  </div>
</figure>

<!-- main section to display all entreprises cards -->
<main class="container-main">
  <!-- iterate through all entreprises and create a card for each of them -->
  <% @entreprises.each do |entreprise| %>
    <!-- create a card for each entreprise -->
    <figure class="card-entreprise-index">
      <!-- entreprise logo -->
      <%= image_tag(entreprise.logo) %>
      <!-- entreprise presentation -->
      <figcaption class="card-entreprise-index-presentation">
        <!-- entreprise name -->
        <h1><%= entreprise.name %></h1>
        <!-- value proposition -->
        <h2><%= entreprise.value_proposition_fr %></h2>
        <!-- entreprise content -->
        <p>
          <%= truncate(strip_tags(entreprise.content_fr.to_s), length: 600) %>
          <%= link_to "  -> Lire", entreprise_path(entreprise) %>
        </p>
        <!-- entreprise link to landing page -->
        <a href="<%= entreprise.website %>" target="_blank"><i class="fas fa-external-link-square-alt"></i>  En savoir plus</a>
      </figcaption>
    </figure>
  <% end %>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
