<!-- top menu -->
<%= render 'menu-show' %>

<!-- add spacer for menu -->
<div class="top-menu-banner-spacer"></div>

<!-- create entreprise banner -->
<figure class="banner" style="background-image: url('<%= image_path @entreprise.photo %>')">
  <div class="container-main">
    <!-- positive impac title -->
    <section class="banner-title">
      <%= @entreprise.name %>
    </section>
    <!-- positive impact caption -->
    <section class="banner-caption">
      <%= @entreprise.value_proposition_fr %>
    </section>
    <!-- positive impact link to landing page -->
    <button class="button-banner">
      <a href="<%= @entreprise.website %>" target="_blank">En savoir plus</a>
    </button>
  </div>
</figure>
