<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | <%= @entreprise.name %></title>
  <meta name="description" content="Blog | Arnaud Rioche | <%= @entreprise.name %>">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= @entreprise.value_proposition_fr %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= image_url(@entreprise.logo) %>" />
  <meta property="og:description" content="<%= truncate(strip_tags(@entreprise.content_fr.to_s), length: 100) %>" />
  <meta property="og:site_name" content="<%= DEFAULT_META["meta_site_name"] %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= @entreprise.value_proposition_fr %>">
  <meta name="twitter:description" content="<%= truncate(strip_tags(@entreprise.content_fr.to_s), length: 100) %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= image_url(@entreprise.logo) %>">
<% end %>

<!-- top menu -->
<%= render 'menu-show' %>

<!-- add spacer for menu -->
<div class="top-menu-banner-spacer"></div>

<!-- create entreprise banner -->
<figure class="banner" style="background-image: url('<%= cl_image_path @entreprise.photo %>')" id="show-entreprise-intro">
  <div class="container-main">
    <!-- positive impac title -->
    <section class="banner-title">
      <%= @entreprise.name %>
    </section>
    <!-- positive impact caption -->
    <section class="banner-caption">
      <%= @entreprise.value_proposition_fr %>
    </section>
    <!-- positive impact link to landing page -->
    <button class="button-banner">
      <a href="<%= @entreprise.website %>" target="_blank">En savoir plus</a>
    </button>
  </div>
</figure>

<!-- company presentation -->
<main class="container-main">

  <!-- create card for company content -->
  <section class="card-article-show-content" id="show-entreprise-content">
    <%= @entreprise.content_fr %>
  </section>

  <!-- create card for article share -->
  <section class="card-article-show-share" id="show-entreprise-share">
    <h2>Parlez-en autour de vous !</h2>
    <section class="card-article-show-share-medias">
      <!-- linkedin -->
      <%= link_to "#" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <!-- viadeo -->
      <%= link_to "#" do %>
        <i class="fab fa-viadeo-square"></i>
      <% end %>
      <!-- twitter -->
      <%= link_to "#" do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>
      <!-- facebook -->
      <%= link_to "#" do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
      <!-- email -->
      <% body = "J'ai pensé que cette entreprise t'intéresserait :\n\n#{truncate(strip_tags(@entreprise.value_proposition_fr.to_s), length: 100000000)}\n\n#{truncate(strip_tags(@entreprise.content_fr.to_s), length: 100000000)}\n\nSite web: #{@entreprise.website}\n\nLire plus sur http://www.arnaudrioche.com" %>
      <%= mail_to "", html_options = {:subject => @entreprise.name, :body => body} do %>
        <i class="fas fa-envelope"></i>
      <% end %>
    </section>
  </section>

  <!-- create card for entreprise factsheet -->
  <section class="card-article-show-readmore" id="show-entreprise-facsheet">
    <h2>Factsheet :</h2>
    <p>Réfléchir à ce que je veux mettre dedans</p>
     <%= cl_image_tag(@entreprise.logo) %>
  </section>

</main>

<!-- top footer -->
<%= render 'shared/footer' %>
