<!-- define either value proposition in share links must be in en or fr -->
<% I18n.locale == :en ? good_value = @entreprise.value_proposition_en : good_value = @entreprise.value_proposition_fr %>

<!-- define either content in share links must be in en or fr -->
<% I18n.locale == :en ? good_content = @entreprise.content_en : good_content = @entreprise.content_fr %>

<!-- define either introduction body in email share must be in en or fr -->
<% I18n.locale == :en ? intro = "I thought you'd find this entreprise of interest:" : intro = "J'ai pensé que cette entreprise t'intéresserait :" %>

<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | <%= @entreprise.name %></title>
  <meta name="description" content="Blog | Arnaud Rioche | <%= @entreprise.name %>">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= @entreprise.name %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= image_url(@entreprise.logo) %>" />
  <meta property="og:description" content="<%= truncate(strip_tags(good_content.to_s), length: 100) %>" />
  <meta property="og:site_name" content="<%= DEFAULT_META["meta_site_name"] %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= @entreprise.name %>">
  <meta name="twitter:description" content="<%= truncate(strip_tags(good_content.to_s), length: 100) %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= image_url(@entreprise.logo) %>">
<% end %>

<!-- top menu -->
<%= render 'menu-show' %>

<!-- add spacer for menu -->
<div class="top-menu-banner-spacer"></div>

<!-- create entreprise banner -->
<figure class="banner" style="background-image: url('<%= cl_image_path @entreprise.photo %>')" id="show-entreprise-intro">
  <div class="container-main">
    <!-- entreprise name -->
    <section class="banner-title">
      <%= @entreprise.name %>
    </section>
    <!-- display entreprise value proposition either in fr or en -->
    <section class="banner-caption">
      <% if I18n.locale == :en %>
         <%= @entreprise.value_proposition_en %>
      <% else %>
         <%= @entreprise.value_proposition_fr %>
      <% end %>
    </section>
    <!-- positive impact link to landing page -->
    <button class="button-banner">
      <a href="<%= @entreprise.website %>" target="_blank"><%= t('entreprises.learn_more') %></a>
    </button>
  </div>
</figure>

<!-- company presentation -->
<main class="container-main">

  <!-- create card for company content either in fr or en -->
  <section class="card-article-show-content" id="show-entreprise-content">
    <% if I18n.locale == :en %>
      <%= @entreprise.content_en %>
    <% else %>
      <%= @entreprise.content_fr %>
    <% end %>
  </section>

  <!-- create card for article share -->
  <section class="card-article-show-share" id="show-entreprise-share">
    <h2><%= t('share.share_entreprise') %></h2>
    <section class="card-article-show-share-medias">
      <!-- linkedin -->
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=<%= @entreprise.name %>&summary=&source=">
        <i class="fab fa-linkedin"></i>
      </a>
      <!-- viadeo -->
      <a href="http://www.viadeo.com/shareit/share/?url=<%= request.original_url %>&title=<%= @entreprise.name %>">
        <i class="fab fa-viadeo-square"></i>
      </a>
      <!-- twitter -->
      <a href="https://twitter.com/intent/tweet?text=<%= request.original_url %>">
        <i class="fab fa-twitter-square"></i>
      </a>
      <!-- facebook -->
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>">
        <i class="fab fa-facebook-square"></i>
      </a>
      <!-- email -->
      <% body = "#{intro}\n\n#{strip_tags(good_value.to_s)}\n\n#{strip_tags(good_content.to_s)}\n\nSite web: #{@entreprise.website}\n\nLire plus sur http://www.arnaudrioche.com" %>
      <%= mail_to "", html_options = {:subject => @entreprise.name, :body => body} do %>
        <i class="fas fa-envelope"></i>
      <% end %>
    </section>
  </section>

  <!-- create card for entreprise factsheet -->
  <section class="card-article-show-readmore" id="show-entreprise-facsheet">
    <h2><%= t('entreprises.factsheet') %></h2>
    <p>Réfléchir à ce que je veux mettre dedans</p>
     <%#= cl_image_tag(@entreprise.logo) %>
  </section>

</main>

<!-- top footer -->
<%= render 'shared/footer' %>
