<!-- top menu -->
<%= render 'menu-admin' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- administrate articles  -->
<main class="container-main">

  <h1><i class="fas fa-user-lock"></i> Menu d'administration du site</h1>

  <h3><%= @articles.count %> articles en ligne</h3>
  <h3><%= @entreprises.count %> entreprises en ligne</h3>
  <h3><%= @tags.count %> tags en ligne</h3>
  <h3><%= @readers.count %> contacts ont laissé des messages</h3>

  <h1>Ajouter nb par thème en itérant dans la base de données et en faisant des search, et ajouter des stats
  sur les réseaux sociaux</h1>


</main>
