<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Admin | Articles</title>
<% end %>

<!-- top menu -->
<%= render 'menu-admin' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- administrate articles  -->
<main class="container-main">

  <h1><i class="fas fa-user-lock"></i> <%= t('admin.admin_articles') %></h1>

  <!-- button to create an article -->
  <button class="button-admin">
    <%= link_to t('admin.create_article'), new_article_path %>
  </button>

  <!-- iterate through all articles and create a card for each of them -->
  <% @articles.each do |article| %>
    <!-- create a card for the article -->
    <figure class="card-article-index">
      <!-- article image -->
      <%= cl_image_tag article.photo, height: 300, width: 400, crop: :fill %>
      <!-- article presentation -->
      <figcaption class="card-article-index-summary">
        <!-- header for date -->
        <div class="card-article-index-header">
          <%= article.date %> |
          <!-- display tag either in fr or en -->
          <% if I18n.locale == :en %>
            <%= article.tag.name_en %>
          <% else %>
            <%= article.tag.name_fr %>
          <% end %>
          <%= article.tag.name_fr %>
        </div>
        <!-- display title either in fr or en -->
        <h2>
          <% if I18n.locale == :en %>
            <%= article.title_en %>
          <% else %>
            <%= article.title_fr %>
          <% end %>
        </h2>
        <!-- display truncated content either in fr or en -->
        <p>
          <% if I18n.locale == :en %>
            <%= truncate(strip_tags(article.content_en.to_s), length: 600) %>
          <% else %>
            <%= truncate(strip_tags(article.content_fr.to_s), length: 600) %>
          <% end %>
        </p>
        <!-- administration links -->
        <div class="card-article-index-admin">
          <!-- see article -->
          <%= link_to article_path(article), target: "_blank" do %>
          <i class="fas fa-eye"></i> <%= t('admin.see') %>
          <% end %>
          <!-- update article -->
          <%= link_to edit_article_path(article) do %>
            <i class="fas fa-edit"></i> <%= t('admin.update') %>
          <% end %>
          <!-- destroy article -->
         <%= link_to article_path(article), method: :delete, data: {confirm: "Supprimer cet article ?"} do %>
          <i class="fas fa-trash"></i> <%= t('admin.destroy') %>
         <% end %>
        </div>
      </figcaption>
    </figure>
  <% end %>

</main>
