<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Admin | Contacts</title>
<% end %>

<!-- top menu -->
<%= render 'menu-admin' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- administrate articles  -->
<main class="container-main">

  <h1><i class="fas fa-user-lock"></i> Administration des contacts</h1>

  <!-- iterate through all readers and create a card for each of them -->
  <% @readers.each do |reader| %>
    <figure class="card-contacts">
      <i class="fas fa-id-card"></i>
      <figcaption class="card-contact-info">
        <h5><%= reader.first_name %>  <%= reader.last_name %></h5>
        <p><%= reader.email %></p>
        <div class="card-contact-info-date">
          <%= reader.created_at %>
        </div>
        <%= reader.message %>
      </figcaption>
    </figure>
  <% end %>

</main>
