<!-- top menu -->
<%= render 'menu-admin' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- administrate entreprises  -->
<main class="container-main">

  <h1><i class="fas fa-user-lock"></i> Administration des tags</h1>

  <!-- button to create a tag -->
  <button class="button-admin">
    <%= link_to "Créer un tag", new_tag_path %>
  </button>

  <!-- iterate through all tags and create a card for each of them -->
  <% @tags.each do |tag| %>
    <!-- create a card for the tag -->
    <figure class="card-tags">
      <!-- tag icon -->
      <%= cl_image_tag(tag.icon) %>
      <!-- tag information -->
      <figcaption class="card-tags-info">
        <p>FR -- <%= tag.name_fr %></p>
        <p>EN -- <%= tag.name_en %></p>
        <!-- administration links -->
        <div class="card-tags-admin">
          <!-- update tag -->
          <%= link_to edit_tag_path(tag) do %>
            <i class="fas fa-edit"></i> Modifier
          <% end %>
          <!-- destroy article -->
          <%= link_to tag_path(tag), method: :delete, data: {confirm: "Supprimer ce tag ?"} do %>
            <i class="fas fa-trash"></i> Supprimer
          <% end %>
        </div>
      </figcaption>
    </figure>
  <% end %>

</main>
