<!-- form to create or edit an article -->
<%= simple_form_for(article) do |f| %>

  <!-- metadata section -->
  <h5><i class="fas fa-exclamation-circle"></i> Définir les métadonnées de l'article :</h5>
  <%= f.input :title_fr, :label => "Titre en Français" %>
  <%= f.input :title_en, :label => "Titre en Anglais" %>
  <%= f.input :tag_id, collection: Tag.all.order(name: :asc) %>
  <%= f.input :date %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <!-- article content section -->
  <h5> <i class="fas fa-exclamation-circle"></i> Ecrire le contenu de l'article :</h5>
  <%= f.rich_text_area :content_fr, :label => "Contenu en Français" %>
  <%= f.rich_text_area :content_en, :label => "Contenu en Anglais" %>

  <!-- submit -->
  <%= f.submit "Enregistrer cet article", class: "button-banner" %>
<% end %>

