<!-- form to create or edit an article -->
<%= simple_form_for(article) do |f| %>

  <!-- metadata section -->
  <h5 id="form-metadata"><i class="fas fa-exclamation-circle"></i> Métadonnées de l'article :</h5>
  <div class="margin-date">
    <%= f.input :date %>
  </div>
  <%= f.input :tag_id, collection: Tag.all.order(name_fr: :asc) %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <!-- article content section in French -->
  <h5 id="form-french"><i class="fas fa-exclamation-circle"></i> Contenu de l'article en Français :</h5>
  <%= f.input :title_fr, :label => "Titre en Français" %>
  <h6>Contenu de l'article en Français *</h6>
  <%= f.rich_text_area :content_fr, :label => "Contenu en Français" %>

  <!-- article content section in English -->
  <h5 id="form-english"><i class="fas fa-exclamation-circle"></i> Contenu de l'article en Anglais :</h5>
  <%= f.input :title_en, :label => "Titre en Anglais" %>
  <h6>Contenu de l'article en Anglais</h6>
  <%= f.rich_text_area :content_en, :label => "Contenu en Anglais" %>

  <!-- submit -->
  <%= f.submit "Enregistrer cet article", class: "button-banner" %>
<% end %>

