<!-- form to create or edit an article -->
<%= simple_form_for(article) do |f| %>

  <!-- metadata section -->
  <h5 id="form-metadata"><i class="fas fa-exclamation-circle"></i> <%= t('articles.form.metadata') %></h5>
  <div class="margin-date">
    <%= f.input :date %>
  </div>
  <%= f.input :tag_id, collection: Tag.all.order(name_fr: :asc), label_method: :name_fr, value_method: :id %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <!-- article content section in French -->
  <h5 id="form-french"><i class="fas fa-exclamation-circle"></i> <%= t('articles.form.content_french') %></h5>
  <%= f.input :title_fr, :label => t('articles.form.title_french') %>
  <h6><%= t('articles.form.content_french') %> *</h6>
  <%= f.rich_text_area :content_fr, :label => t('articles.form.content_french') %>

  <!-- article content section in English -->
  <h5 id="form-english"><i class="fas fa-exclamation-circle"></i> <%= t('articles.form.content-english') %></h5>
  <%= f.input :title_en, :label => t('articles.form.title_english') %>
  <h6><%= t('articles.form.content_english') %> *</h6>
  <%= f.rich_text_area :content_en, :label => t('articles.font.title_english') %>

  <!-- submit -->
  <%= f.submit t('articles.form.save'), class: "button-admin" %>
<% end %>

