<nav class="top-menu">
  <!-- link to illustration -->
  <section class="top-menu-item">
    <a href="#show-article-title"><%= image_tag('icon_menu_illustration.svg') %></a>
    <a href="#show-article-title"><%= t('articles.top-menu.illustration') %></a>
  </section>
  <!-- link to article content -->
  <section class="top-menu-item">
    <a href="#show-article-content"><%= image_tag('icon_menu_content.svg') %></a>
    <a href="#show-article-content"><%= t('articles.top-menu.article') %></a>
  </section>
  <!-- link to share article -->
  <section class="top-menu-item">
    <a href="#show-article-share"><%= image_tag('icon_menu_share.svg') %></a>
    <a href="#show-article-share"><%= t('articles.top-menu.share') %></a>
  </section>
  <!-- link to read more section -->
  <section class="top-menu-item">
    <a href="#show-article-readmore"><%= image_tag('icon_menu_plus.svg') %></a>
    <a href="#show-article-readmore"><%= t('articles.top-menu.read_also') %></a>
  </section>
</nav>
