<nav class="top-menu top-menu-admin">
  <!-- link to admin menu -->
  <section class="top-menu-item">
    <%= link_to admin_path do %>
      <%= image_tag('icon_menu_admin.svg') %>
    <% end %>
     <%= link_to admin_path do %>
      Admin Page
    <% end %>
  </section>
  <!-- link to metadata -->
  <section class="top-menu-item">
    <a href="#form-metadata"><%= image_tag('icon_menu_metadata.svg') %></a>
    <a href="#form-metadata">Metadata</a>
  </section>
  <!-- link to french section -->
  <section class="top-menu-item">
    <a href="#form-french"><%= image_tag('icon_menu_france.svg') %></a>
    <a href="#form-french">Français</a>
  </section>
  <!-- link to english section -->
  <section class="top-menu-item">
    <a href="#form-english"><%= image_tag('icon_menu_english.svg') %></a>
    <a href="#form-english">Anglais</a>
  </section>
</nav>
