<!-- top menu -->
<%= render 'menu-show' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- article -->
<main class="container-main">

  <!-- create card for article title -->
  <section class="card-article-show-title" id="show-article-title">
    <section class="card-article-show-title-tag">
      <!-- variable to store path to tag icon -->
      <% path = @article.tag.icon %>
     <!--  display tag icon -->
      <%= image_tag(path) %>
      <!-- display tag name -->
     <h2><%= @article.tag.name %></h2>
    </section>
    <p><%= @article.date %></p>
    <h1><%= @article.title_fr %></h1>
    <%= cl_image_tag @article.photo %>
  </section>

  <!-- create card for article content -->
  <section class="card-article-show-content" id="show-article-content">
    <%= @article.content_fr %>
  </section>

  <!-- create card for article share -->
  <section class="card-article-show-share" id="show-article-share">
    <h2>Partagez cet article !</h2>
    <section class="card-article-show-share-medias">
      <!-- linkedin -->
      <%= link_to "#" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <!-- viadeo -->
      <%= link_to "#" do %>
        <i class="fab fa-viadeo-square"></i>
      <% end %>
      <!-- twitter -->
      <%= link_to "#" do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>
      <!-- facebook -->
      <%= link_to "#" do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
       <!-- email -->
      <%= link_to "#" do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    </section>
  </section>

  <!-- create card for article read more -->
  <section class="card-article-show-readmore" id="show-article-readmore">
    <h2>Lire aussi :</h2>
    <p>A faire une fois Search terminée</p>
  </section>

</main>

<!-- footer -->
<%= render 'shared/footer' %>
