<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | <%= @article.title_fr %></title>
  <meta name="description" content="Blog | Arnaud Rioche | <%= @article.title_fr %>">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= @article.title_fr %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @article.photo %>" />
  <% meta_description = truncate(strip_tags(@article.content_fr.to_s), length: 100) %>
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="Blog | Arnaud Rioche" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= @article.title_fr %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= @article.photo %>">
<% end %>

<!-- top menu -->
<%= render 'menu-show' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- article -->
<main class="container-main">

  <!-- create card for article title -->
  <section class="card-article-show-title" id="show-article-title">
    <section class="card-article-show-title-tag">
     <!--  display tag icon -->
      <%= cl_image_tag(@article.tag.icon) %>
      <!-- display tag name -->
     <h2><%= @article.tag.name_fr %></h2>
    </section>
    <p><%= @article.date %></p>
    <h1><%= @article.title_fr %></h1>
    <%= cl_image_tag @article.photo %>
  </section>

  <!-- create card for article content -->
  <section class="card-article-show-content" id="show-article-content">
    <%= @article.content_fr %>
  </section>

  <!-- create card for article share -->
  <section class="card-article-show-share" id="show-article-share">
    <h2>Partagez cet article !</h2>
    <section class="card-article-show-share-medias">
      <!-- linkedin -->
      <%= link_to "#" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <!-- viadeo -->
      <%= link_to "#" do %>
        <i class="fab fa-viadeo-square"></i>
      <% end %>
      <!-- twitter -->
      <%= link_to "#" do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>

      <!-- facebook -->
      <%#= link_to "#" do %>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>">
          <i class="fab fa-facebook-square"></i>
        </a>
      <%# end %>

      <!-- email -->
      <% body = "J'ai pensé que cet article t'intéresserait :\n\n#{truncate(strip_tags(@article.content_fr.to_s), length: 100000000)}\n\nLire plus sur http://www.arnaudrioche.com" %>
      <%= mail_to "", html_options = {:subject => @article.title_fr, :body => body} do %>
        <i class="fas fa-envelope"></i>
      <% end %>
    </section>
  </section>

  <!-- create card for article read more -->
  <section class="card-article-show-readmore" id="show-article-readmore">
    <h2>Lire aussi :</h2>

    <!-- check if @readmore has results or not -->
    <% if @readmore == [] || @readmore.count == 1 %>
      <p>Désolé, il n'y a pas d'autres articles sur le thème "<%= @article.tag.name_fr %>" pour le moment</p>
   <!--  otherwise, iterate through results -->
    <% else %>
      <% @readmore.each do |result| %>
        <!-- check if article is the same as the one being read and skip if true -->
        <% unless result.title_fr == @article.title_fr %>
          <figure class="card-article-index">
            <%= cl_image_tag result.photo, height: 300, width: 400, crop: :fill %>
            <!-- article presentation -->
            <figcaption class="card-article-index-summary">
              <!-- header for date and tag -->
              <div class="card-article-index-header">
                <%= result.date %> |
                <%= result.tag.name_fr %>
              </div>
              <!-- title and truncated content -->
              <h2><%= result.title_fr %></h2>
              <p><%= truncate(strip_tags(result.content_fr.to_s), length: 600) %></p>
              <!-- link to article -->
              <%= link_to "Lire ->", article_path(result) %>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    <% end %>
  </section>

</main>

<!-- footer -->
<%= render 'shared/footer' %>
