<nav class="top-menu">
  <!-- link to summary section -->
  <section class="top-menu-item">
    <a href="#profile-summary"><%= image_tag('icon_menu_profile.svg') %></a>
    <a href="#profile-summary"><%= t('profile.summary') %></a>
  </section>
  <!-- link to skills section -->
  <section class="top-menu-item">
    <a href="#profile-skills"><%= image_tag('icon_menu_skills.svg') %></a>
    <a href="#profile-skills"><%= t('profile.competencies.skills') %></a>
  </section>
  <!-- link to experience section -->
  <section class="top-menu-item">
    <a href="#profile-experience"><%= image_tag('icon_menu_work-experience.svg') %></a>
    <a href="#profile-experience"><%= t('profile.work_exp.experience') %></a>
  </section>
  <!-- link to education section -->
  <section class="top-menu-item">
    <a href="#profile-education"><%= image_tag('icon_menu_education.svg') %></a>
    <a href="#profile-education"><%= t('profile.degrees.education') %></a>
  </section>
</nav>
