<!-- modal for skill leadership / entrepreneurship -->
<div class="modal fade" id="ModalEntrepreneurship" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_entrepreneur.svg') %>
          Entreprenariat
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-entrepreneurship' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill leadership / strategy -->
<div class="modal fade" id="ModalStrategy" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_strategy.svg') %>
          Stratégie
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-strategy' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill leadership / team management -->
<div class="modal fade" id="ModalTeamManagement" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_team-management.svg') %>
          Animation d'équipes
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-team-management' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill leadership / coaching -->
<div class="modal fade" id="ModalCoaching" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_mentor.svg') %>
          Coaching
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-coaching' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / strategic planning -->
<div class="modal fade" id="ModalStrategicPlanning" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_strategic-planning.svg') %>
          Planification stratégique
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-strategic-planning' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / management information -->
<div class="modal fade" id="ModalManagementInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_analytics.svg') %>
          Contrôle de gestion
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-management-information' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / it -->
<div class="modal fade" id="ModalIt" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_it.svg') %>
          IT
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-it' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / shared services -->
<div class="modal fade" id="ModalSharedServices" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_shared-services.svg') %>
          Services partagés
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-shared-services' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / hr -->
<div class="modal fade" id="ModalHr" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_hr.svg') %>
          Ressources Humaines
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-hr' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / procurement -->
<div class="modal fade" id="ModalProcurement" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_procurement.svg') %>
          Achats
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-procurement' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / juridique -->
<div class="modal fade" id="ModalLegal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_legal.svg') %>
          Juridique
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-legal' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / ventes -->
<div class="modal fade" id="ModalSales" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_hand-shake.svg') %>
          Ventes
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-sales' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / data management -->
<div class="modal fade" id="ModalDataManagement" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_data-mgt.svg') %>
          Data Management
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-data-management' %>
      </div>
    </div>
  </div>
</div>
