<!-- partial for the skill section of the profile -->
<article class="card-profile-experience">

 <!--  entrepreneur -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.entrepreneur.job_title') %>
    </div>
    <div class="card-profile-experience-job-company-date">
      Projet 'Positive Impact' | Depuis 2019
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
          <%= t('profile.work_exp.entrepreneur.caption_one') %>
      </div>
    </div>
  </section>

  <!--  head of technology @ axa im -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.axa.job_title') %>
    </div>
    <div class="card-profile-experience-job-company-date">
      AXA Investment Managers | 2015-2019
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.axa.caption_one') %>
      </div>
    </div>
  </section>

  <!--  head of business line @ alfi -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.alfi.job_title') %>
    </div>
    <div class="card-profile-experience-job-company-date">
      ALFI Consultants | 2009-2015
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_one') %>
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_two') %>
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_three') %>
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_four') %>
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_five') %>
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_six') %>
      </div>
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.alfi.caption_seven') %>
      </div>
    </div>
  </section>

  <!--  strategic planning manager @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.hsbc_am.job_title') %>
    </div>
    <div class="card-profile-experience-job-company-date">
      HSBC Global Asset Management Europe | 2006-2009
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.hsbc_am.caption_one') %>
      </div>
    </div>
  </section>

  <!--  six sigma bb @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.hsbc_fr.job_title') %>
    </div>
    <div class="card-profile-experience-job-company-date">
      HSBC France | 2004-2006
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.hsbc_fr.caption_one') %>
      </div>
    </div>
  </section>

  <!--  front-to-back project director @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.hsbc_reim.job_title') %>
    </div>
    <div class="card-profile-experience-job-company-date">
      HSBC Real Estate Investment Managers | 2003
    </div>
    <div class="card-profile-experience-job-miscinfo">
      <i class="fas fa-angle-right"></i>
      <div class="card-profile-experience-job-miscinfo-item-text">
        <%= t('profile.work_exp.hsbc_reim.caption_one') %>
      </div>
    </div>
  </section>

  <!--  front-to-back project director @ hsbc -->
  <section class="card-profile-experience-job">
    <div class="card-profile-experience-job-title">
      <%= t('profile.work_exp.other_exp') %>
    </div>
  </section>

</article>
