<!-- partial for the skill section of the profile -->
<article class="card-profile-education">

  <!-- edhec gmap -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      <%= t('profile.degrees.executive_certificate') %> | <%= t('profile.degrees.gmap') %>
    </div>
    <div class="card-profile-education-degree-summary-school">
      EDHEC Business School | 2019-2020
    </div>
    <div class="card-profile-education-degree-summary-description">
      <%= t('profile.degrees.edhec_presentation') %>
    </div>
    <a href="http://www.edhec.edu" target="_blank"><i class="far fa-hand-point-right"></i> www.edhec.edu</a>
  </section>

  <!-- le wagon full-stack dev -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      <%= t('profile.degrees.professional_certificate') %> | <%= t('profile.degrees.full_stack') %>
    </div>
    <div class="card-profile-education-degree-summary-school">
      Le Wagon Paris, Batch#250 | 2019
    </div>
    <div class="card-profile-education-degree-summary-description">
      <%= t('profile.degrees.wagon_presentation') %>
    </div>
    <a href="http://www.lewagon.com" target="_blank"><i class="far fa-hand-point-right"></i> www.lewagon.com</a>
  </section>

  <!-- essca entrepreneur -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      <%= t('profile.degrees.professional_certificate') %> | <%= t('profile.degrees.capacity_entrepreneur') %>
    </div>
    <div class="card-profile-education-degree-summary-school">
      ESSCA School of Management | 2000-2001
    </div>
    <div class="card-profile-education-degree-summary-description">
      <%= t('profile.degrees.essca_entrepreneur_presentation') %>
    <a href="http://www.essca.fr" target="_blank"><i class="far fa-hand-point-right"></i> www.essca.fr</a>
  </section>

   <!-- essca pge -->
  <section class="card-profile-education-degree">
    <div class="card-profile-education-degree-summary-name">
      <%= t('profile.degrees.master_management') %> | <%= t('profile.degrees.master_majoring') %>
    </div>
    <div class="card-profile-education-degree-summary-school">
      ESSCA School of Management | 1997-2001
    </div>
    <div class="card-profile-education-degree-summary-description">
      <%= t('profile.degrees.essca_pge_presentation') %>
    </div>
    <a href="http://www.essca.fr" target="_blank"><i class="far fa-hand-point-right"></i> www.essca.fr</a>
  </section>

</article>
