<!-- modal for skill leadership / entrepreneurship -->
<div class="modal fade" id="ModalEntrepreneurship" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_entrepreneur.svg') %>
          <%= t('profile.competencies.entrepreneurship') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-entrepreneurship' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill leadership / strategy -->
<div class="modal fade" id="ModalStrategy" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_strategy.svg') %>
          <%= t('profile.competencies.strategy') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-strategy' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill leadership / team management -->
<div class="modal fade" id="ModalTeamManagement" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_team-management.svg') %>
          <%= t('profile.competencies.team_leading') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-team-management' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill leadership / coaching -->
<div class="modal fade" id="ModalCoaching" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_mentor.svg') %>
          <%= t('profile.competencies.coaching') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-coaching' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / strategic planning -->
<div class="modal fade" id="ModalStrategicPlanning" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_strategic-planning.svg') %>
          <%= t('profile.competencies.strategic_planning') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-strategic-planning' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / management information -->
<div class="modal fade" id="ModalManagementInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_analytics.svg') %>
          <%= t('profile.competencies.mi') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-management-information' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / it -->
<div class="modal fade" id="ModalIt" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_it.svg') %>
          <%= t('profile.competencies.it') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-it' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / shared services -->
<div class="modal fade" id="ModalSharedServices" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_shared-services.svg') %>
          <%= t('profile.competencies.shared_services') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-shared-services' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / hr -->
<div class="modal fade" id="ModalHr" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_hr.svg') %>
          <%= t('profile.competencies.hr') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-hr' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / procurement -->
<div class="modal fade" id="ModalProcurement" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_procurement.svg') %>
          <%= t('profile.competencies.procurement') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-procurement' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / juridique -->
<div class="modal fade" id="ModalLegal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_legal.svg') %>
          <%= t('profile.competencies.legal') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-legal' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / ventes -->
<div class="modal fade" id="ModalSales" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_hand-shake.svg') %>
          <%= t('profile.competencies.sales') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-sales' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill company management / data management -->
<div class="modal fade" id="ModalDataManagement" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_data-mgt.svg') %>
          <%= t('profile.competencies.data_management') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-data-management' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill program management / lean -->
<div class="modal fade" id="ModalLean" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_lean.svg') %>
          <%= t('profile.competencies.lean') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-lean' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill program management / six sigma -->
<div class="modal fade" id="ModalSixSigma" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_sigma.svg') %>
          <%= t('profile.competencies.six_sigma') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-six-sigma' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill program management / scrum -->
<div class="modal fade" id="ModalScrum" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_scrum.svg') %>
          <%= t('profile.competencies.scrum') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-scrum' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill program management / design thinking -->
<div class="modal fade" id="ModalDesignThinking" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_design-thinking.svg') %>
          <%= t('profile.competencies.design_thinking') %>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-design-thinking' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / ruby -->
<div class="modal fade" id="ModalRuby" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_ruby.svg') %>
          Ruby
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-ruby' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / rails -->
<div class="modal fade" id="ModalRails" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_rails.svg') %>
          Rails
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-rails' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / python -->
<div class="modal fade" id="ModalPython" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_python.svg') %>
          Python
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-python' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / javascript -->
<div class="modal fade" id="ModalJavaScript" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_js.svg') %>
          JavaScript ES6
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-javascript' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / html -->
<div class="modal fade" id="ModalHtml" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_html.svg') %>
          HTML
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-html' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / css -->
<div class="modal fade" id="ModalCss" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_css.svg') %>
          CSS
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-css' %>
      </div>
    </div>
  </div>
</div>

<!-- modal for skill programming / git -->
<div class="modal fade" id="ModalGit" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_lang_git.svg') %>
          Git
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-git' %>
      </div>
    </div>
  </div>
</div>
