<!-- partial for the skill section of the profile -->
<article class="card-profile-skills">

  <!-- leadership -->
  <div class="card-profile-skills-title">
    Leadership
  </div>
  <section class="card-profile-skills-skillset">

    <!-- entrepreneurship -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalEntrepreneurship">
      <%= image_tag('icon_skill_entrepreneur.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Entreprenariat
      </figcaption>
    </figure>
    <!-- strategy -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalStrategy">
      <%= image_tag('icon_skill_strategy.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Stratégie
      </figcaption>
    </figure>
    <!-- team animation -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalTeamManagement">
      <%= image_tag('icon_skill_team-management.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Animation d'équipes
      </figcaption>
    </figure>
    <!-- coaching -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalCoaching">
      <%= image_tag('icon_skill_mentor.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Coaching
      </figcaption>
    </figure>
  </section>

  <!-- company management -->
  <div class="card-profile-skills-title">
    Gestion d'entreprise
  </div>
  <section class="card-profile-skills-skillset">

    <!-- strategic planning -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalStrategicPlanning">
      <%= image_tag('icon_skill_strategic-planning.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Planification stratégique
      </figcaption>
    </figure>
    <!-- management information -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalManagementInformation">
      <%= image_tag('icon_skill_analytics.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Contrôle de gestion
      </figcaption>
    </figure>
    <!-- it -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalIt">
      <%= image_tag('icon_skill_it.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        IT
      </figcaption>
    </figure>
    <!-- shared services -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalSharedServices">
      <%= image_tag('icon_skill_shared-services.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Services partagés
      </figcaption>
    </figure>
    <!-- hr -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalHr">
      <%= image_tag('icon_skill_hr.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Ressources Humaines
      </figcaption>
    </figure>
    <!-- procurement -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalProcurement">
      <%= image_tag('icon_skill_procurement.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Achats
      </figcaption>
    </figure>
    <!-- legal -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalLegal">
      <%= image_tag('icon_skill_legal.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Juridique
      </figcaption>
    </figure>
    <!-- sales -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalSales">
      <%= image_tag('icon_skill_hand-shake.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Ventes
      </figcaption>
    </figure>
    <!-- data management -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalDataManagement">
      <%= image_tag('icon_skill_data-mgt.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Data Management
      </figcaption>
    </figure>




  </section>



</article>

<!-- render partial with all modals -->
<%= render 'profile-skills-allmodals' %>

