<!-- partial for the skill section of the profile -->
<article class="card-profile-skills">

  <!-- leadership -->
  <div class="card-profile-skills-title">
    Leadership
  </div>
  <section class="card-profile-skills-skillset">

    <!-- entrepreneurship -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalEntrepreneurship">
      <%= image_tag('icon_skill_entrepreneur.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Entreprenariat
      </figcaption>
    </figure>
    <!-- strategy -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalStrategy">
      <%= image_tag('icon_skill_strategy.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Stratégie
      </figcaption>
    </figure>
    <!-- team animation -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalTeamManagement">
      <%= image_tag('icon_skill_team-management.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Animation d'équipes
      </figcaption>
    </figure>
    <!-- coaching -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalCoaching">
      <%= image_tag('icon_skill_mentor.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Coaching
      </figcaption>
    </figure>
  </section>
</article>

<!-- render partial with all modals -->
<%= render 'profile-skills-allmodals' %>

