<!-- partial for the summary section of the profile -->
<article class="card-profile-summary">

  <!-- header section with image and caption -->
  <figure class="card-profile-summary-header">
    <%= image_tag('img_arnaudrioche.png') %>
    <figcaption class="card-profile-summary-header-title">
      <%= t('profile.title') %>
    </figcaption>
  </figure>

  <!-- body section with summary wording -->
  <section class="card-profile-summary-body">
    <article class="card-profile-summary-body-text">
      <%= t('profile.caption_one') %>
    </article>
    <article class="card-profile-summary-body-text">
      <%= t('profile.caption_two') %>
    </article>
  </section>

  <!-- section for public social media profiles -->
  <section class="card-article-show-share" id="show-article-share">
    <h2><%= t('share.share_profile') %></h3>
    <section class="card-article-show-share-medias">
      <!-- linkedin -->
      <a href="https://www.linkedin.com/in/arnaudrioche/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <!-- viadeo -->
      <a href="https://www.viadeo.com/p/0021ousphbnhwusz" target="_blank"><i class="fab fa-viadeo-square"></i></a>
      <!-- github -->
      <a href="https://github.com/arnaudrioche" target="_blank"><i class="fab fa-github-square"></i></a>
      <!-- twitter -->
      <a href="https://twitter.com/ArnaudRioche" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <!-- facebook -->
      <a href="https://www.facebook.com/arnaud.rioche" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <!-- instagram -->
      <a href="https://www.instagram.com/arnaudrioche/" target="_blank"><i class="fab fa-instagram"></i></a>
    </section>
  </section>

</article>
