<!-- partial for the skill section of the profile -->
<article class="card-profile-skills">

  <!-- leadership -->
  <div class="card-profile-skills-title">
    Leadership
  </div>
  <section class="card-profile-skills-skillset">

    <!-- entrepreneurship -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalInfo">
      <%= image_tag('icon_skill_entrepreneur.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Entreprenariat
      </figcaption>
    </figure>
    <!-- strategy -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill">
      <%= image_tag('icon_skill_strategy.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Stratégie
      </figcaption>
    </figure>
    <!-- team animation -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill">
      <%= image_tag('icon_skill_team-management.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Animation d'équipes
      </figcaption>
    </figure>
    <!-- coaching -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill">
      <%= image_tag('icon_skill_mentor.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Coaching
      </figcaption>
    </figure>
  </section>

</article>

<!-- Modal -->
<div class="modal fade" id="ModalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalScrollableTitle">
          <%= image_tag('icon_skill_strategy.svg') %>
          Stratégie
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'profile-skills-leadership' %>
      </div>
    </div>
  </div>
</div>
