<!-- partial for the skill section of the profile -->
<article class="card-profile-skills">

  <!-- leadership -->
  <div class="card-profile-skills-title">
    Leadership
  </div>
  <section class="card-profile-skills-skillset">
    <!-- entrepreneurship -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalEntrepreneurship">
      <%= image_tag('icon_skill_entrepreneur.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Entreprenariat
      </figcaption>
    </figure>
    <!-- strategy -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalStrategy">
      <%= image_tag('icon_skill_strategy.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Stratégie
      </figcaption>
    </figure>
    <!-- team animation -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalTeamManagement">
      <%= image_tag('icon_skill_team-management.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Animation d'équipes
      </figcaption>
    </figure>
    <!-- coaching -->
    </div>
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalCoaching">
      <%= image_tag('icon_skill_mentor.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Coaching
      </figcaption>
    </figure>
  </section>

  <!-- company management -->
  <div class="card-profile-skills-title">
    Gestion d'entreprise
  </div>
  <section class="card-profile-skills-skillset">
    <!-- strategic planning -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalStrategicPlanning">
      <%= image_tag('icon_skill_strategic-planning.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Planification stratégique
      </figcaption>
    </figure>
    <!-- management information -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalManagementInformation">
      <%= image_tag('icon_skill_analytics.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Contrôle de gestion
      </figcaption>
    </figure>
    <!-- it -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalIt">
      <%= image_tag('icon_skill_it.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        IT
      </figcaption>
    </figure>
    <!-- shared services -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalSharedServices">
      <%= image_tag('icon_skill_shared-services.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Services partagés
      </figcaption>
    </figure>
    <!-- hr -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalHr">
      <%= image_tag('icon_skill_hr.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Ressources Humaines
      </figcaption>
    </figure>
    <!-- procurement -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalProcurement">
      <%= image_tag('icon_skill_procurement.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Achats
      </figcaption>
    </figure>
    <!-- legal -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalLegal">
      <%= image_tag('icon_skill_legal.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Juridique
      </figcaption>
    </figure>
    <!-- sales -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalSales">
      <%= image_tag('icon_skill_hand-shake.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Ventes
      </figcaption>
    </figure>
    <!-- data management -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalDataManagement">
      <%= image_tag('icon_skill_data-mgt.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
       Data Management
      </figcaption>
    </figure>
  </section>

  <!-- program management -->
  <div class="card-profile-skills-title">
    Direction de projets
  </div>
  <section class="card-profile-skills-skillset">
    <!-- lean -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalLean">
      <%= image_tag('icon_skill_lean.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Lean Management
      </figcaption>
    </figure>
    <!-- six sigma -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalSixSigma">
      <%= image_tag('icon_skill_sigma.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Six Sigma
      </figcaption>
    </figure>
    <!-- scrum -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalScrum">
      <%= image_tag('icon_skill_scrum.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Scrum
      </figcaption>
    </figure>
     <!-- design thinking -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalDesignThinking">
      <%= image_tag('icon_skill_design-thinking.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Design Thinking
      </figcaption>
    </figure>
  </section>

  <!-- program management -->
  <div class="card-profile-skills-title">
    Programmation
  </div>
  <section class="card-profile-skills-skillset">
    <!-- ruby -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalRuby">
      <%= image_tag('icon_lang_ruby.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Ruby
      </figcaption>
    </figure>
    <!-- rails -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalRails">
      <%= image_tag('icon_lang_rails.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Rails
      </figcaption>
    </figure>
    <!-- python -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalPython">
      <%= image_tag('icon_lang_python.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Python
      </figcaption>
    </figure>
    <!-- javascript -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalJavaScript">
      <%= image_tag('icon_lang_js.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        JavaScript ES6
      </figcaption>
    </figure>
    <!-- html -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalHtml">
      <%= image_tag('icon_lang_html.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        HTML
      </figcaption>
    </figure>
    <!-- css -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalCss">
      <%= image_tag('icon_lang_css.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        CSS
      </figcaption>
    </figure>
    <!-- git -->
    <figure class="card-profile-skills-skillset-oneskill" data-toggle="modal" data-target="#ModalGit">
      <%= image_tag('icon_lang_git.svg') %>
      <figcaption class="card-profile-skills-skillset-oneskill-name">
        Git
      </figcaption>
    </figure>




  </section>



</article>

<!-- render partial with all modals -->
<%= render 'profile-skills-allmodals' %>

