<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Contact</title>
  <meta name="description" content="Blog | Arnaud Rioche | Contact">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= DEFAULT_META["meta_title"] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= DEFAULT_META["meta_image"] %>" />
  <meta property="og:description" content="<%= DEFAULT_META["meta_description"] %>" />
  <meta property="og:site_name" content="<%= DEFAULT_META["meta_site_name"] %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= DEFAULT_META["meta_title"] %>">
  <meta name="twitter:description" content="<%= DEFAULT_META["meta_description"] %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= DEFAULT_META["meta_image"] %>">
<% end %>

<!-- add spacer for navbar -->
<div class="navbar-spacer"></div>

<!-- form to create an article -->
<main class="container-form">
  <h1><i class="fas fa-feather"></i> Laissez-moi un message !</h1>
  <%= simple_form_for(@reader) do |f| %>

    <!-- personal details section -->
    <h5><i class="fas fa-caret-right"></i> Laissez vos coordonnées :</h5>
    <%= f.input :first_name, :label => "Prénom" %>
    <%= f.input :last_name, :label => "Nom" %>
    <%= f.input :email, :label => "Addresse email" %>

    <!-- message section -->
    <h5><i class="fas fa-caret-right"></i> Ecrivez votre message :</h5>
    <%= f.rich_text_area :message, :label => "Votre message" %>

    <!-- submit -->
    <%= f.submit "Envoyer", class: "button-banner" %>

   <% end %>

</main>
