<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Home</title>
  <meta name="description" content="Blog | Arnaud Rioche | Home">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= DEFAULT_META["meta_title"] %"> />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= DEFAULT_META["meta_image"] %>" />
  <meta property="og:description" content="<%= DEFAULT_META["meta_description"] %>" />
  <meta property="og:site_name" content="<%= DEFAULT_META["meta_site_name"] %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= DEFAULT_META["meta_title"] %>">
  <meta name="twitter:description" content="<%= DEFAULT_META["meta_description"] %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= DEFAULT_META["meta_image"] %>">
<% end %>

<!-- carousel with the profile picture as active item and the 5 latest posts -->
<main class="carousel-full-page">
  <section id="carousel-home-page" class="carousel slide" data-ride="carousel">

    <!-- carousel indicator bars at the bottom of images -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
    </ol>

   <!--  sections of the carousel -->
    <figure class="carousel-inner">

      <!-- first section with link to profile active by default when landing to the homepage -->
      <section class="carousel-item active">
        <div class="carousel-image-wrapper">
          <%= image_tag('img_arnaudrioche.png', class: "d-block w-100 carousel-image") %>
        </div>
        <div class="carousel-banner">
          <h1>First slide label</h1>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <%= link_to "Profil ->", profile_path %>
        </div>
      </section>

      <!-- other sections, automatically fed with the 5 latest posts -->
      <% @articles.each do |article| %>
        <section class="carousel-item">
          <div class="carousel-image-wrapper">
            <%= cl_image_tag article.photo, class: "d-block w-100 carousel-image" %>
          </div>
          <div class="carousel-banner">
            <h1><%= article.title_fr %></h1>
            <p><%= truncate(strip_tags(article.content_fr.to_s), length: 450) %></p>
            <%= link_to "Lire ->", article_path(article) %>
          </div>
        </section>
      <% end %>
    </figure>

   <!--  control left and right arrows for the carousel -->
    <a class="carousel-control-prev" href="#carousel-home-page" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carousel-home-page" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </section>>
</main>

