<!-- customization of the head section -->
<% content_for :head do %>
  <!-- title and name -->
  <title>Blog | Arnaud Rioche | Contact</title>
  <meta name="description" content="Blog | Arnaud Rioche | Contact">
  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="meta_title" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_site_name %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= DEFAULT_META["meta_title"] %>">
  <meta name="twitter:description" content="<%= DEFAULT_META["meta_description"] %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= DEFAULT_META["meta_image"] %>">
<% end %>

positive-impact.html.erb
