<!-- top menu -->
<%= render 'menu-profile' %>

<!-- add spacer for menu -->
<div class="top-menu-spacer"></div>

<!-- profile -->
<main class="container-main">

  <!-- summary section -->
  <section class="card-profile" id="profile-summary">
    <%= render 'profile-summary' %>
  </section>

  <!-- skills section -->
  <section class="card-profile" id="profile-skills">
    <h1><i class="fas fa-arrow-circle-right"></i> Compétences</h1>
    <%= render 'profile-skills' %>
  </section>

  <!-- experience section -->
  <section class="card-profile" id="profile-experience">
    <h1><i class="fas fa-arrow-circle-right"></i> Expérience</h1>
    <%= render 'profile-experience' %>
  </section>

  <!-- education section -->
  <section class="card-profile" id="profile-education">
    <h1><i class="fas fa-arrow-circle-right"></i> Formation</h1>
    <%= render 'profile-education' %>
  </section>
</main>

<!-- footer -->
<%= render 'shared/footer' %>
