<p><%= t('admin.devise_views.mailer.hello') %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('admin.devise_views.mailer.email_being_changed') %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('admin.devise_views.mailer.email_been_changed') %> <%= @resource.email %>.</p>
<% end %>
