<p><%= t('admin.devise_views.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('admin.devise_views.mailer.someone_requested_password_change') %></p>

<p><%= link_to t('admin.devise_views.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('admin.devise_views.mailer.please_ignore') %></p>
<p><%= t('admin.devise_views.mailer.password_wont_change') %></p>
