<p><%= t('admin.devise_views.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('admin.devise_views.mailer.too_many_attempts') %></p>

<p><%= t('admin.devise_views.mailer.click_unlock') %></p>

<p><%= link_to t('admin.devise_views.mailer.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
